@model FinalBestBrightnessStore.Models.SalesTracking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SalesTracking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="salePersonId" class="control-label"></label>
                <input asp-for="salePersonId" class="form-control" />
                <span asp-validation-for="salePersonId" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="prodId" class="control-label"></label>
                <input asp-for="prodId" class="form-control" />
                <span asp-validation-for="prodId" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="dateOfSale" class="control-label"></label>
                <input asp-for="dateOfSale" class="form-control" />
                <span asp-validation-for="dateOfSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
